In [6]:
import numpy as np
import pandas as pd

Brennan Darvey O. Espinosa

source: https://www.kaggle.com/datasets/mylesoneill/game-of-thrones?resource=download&select=battles.csv

<h1>CREATE DATA</h1>

In [192]:
got = pd.DataFrame({
    'Year':[
        298,
        298,
        298,
        298,
        298
    ],
    'battle_number':[
        1,
        2,
        3,
        4,
        5,
    ],
    'attacker_king':[
        "Joffrey/Tommen Baratheon",
        "Joffrey/Tommen Baratheon",
        "Joffrey/Tommen Baratheon",
        "Rob Stark",
        "Rob Stark"
    ],
    'defender_king':[
        "Rob Stark",
        "Rob Stark",
        "Rob Stark",
        "Joffrey/Tommen Baratheon",
        "Joffrey/Tommen Baratheon",    
    ],
    'attacker_1':[
        "Lannister",
        "Lannister",
        "Lannister",
        "Stark",
        "Stark",
    ],
    'attacker_2':[
        "",
        "",
        "",
        "",
        "Tully",
    ],
    'attacker_3':[
        "",
        "",
        "",
        "",
        "",
    ],
    'attacker_4':[
        "",
        "",
        "",
        "",
        "",
    ],
    'defender_1':[
        "Tully",
        "Baratheon",
        "Tully",
        "Lannister",
        "Lannister",
    ],
}, columns=['Year','battle_number','attacker_king','defender_king','attacker_1','attacker_2','attacker_3','attacker_4','defender_1',])

<h1>Read Data</h1>

In [195]:
got

,Year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1
0,298,1,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
1,298,2,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Baratheon
2,298,3,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
3,298,4,Rob Stark,Joffrey/Tommen Baratheon,Stark,,,,Lannister
4,298,5,Rob Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister

In [197]:
got.index = [
    "Battle of the Golden Tooth",
    "Battle at the Mummer's Ford",
    "Battle of Riverrun",
    "Battle of the Green Fork",
    "Battle of the Whispering Wood"
]

In [199]:
got

,Year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1
Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Baratheon
Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle of the Green Fork,298,4,Rob Stark,Joffrey/Tommen Baratheon,Stark,,,,Lannister
Battle of the Whispering Wood,298,5,Rob Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister

In [201]:
got.size

45

In [203]:
got.index

Index(['Battle of the Golden Tooth', 'Battle at the Mummer's Ford',
       'Battle of Riverrun', 'Battle of the Green Fork',
       'Battle of the Whispering Wood'],
      dtype='object')

<h1>Update Data<h1>

In [217]:
new_data = pd.Series({
    'Year': 298,
    'battle_number': 6,
    'defender_king': 'Joffrey/Tommen Baratheon',
    'attacker_1': 'Stark',
    'attacker_2': 'Tully',
    'attacker_3': '',
    'attacker_4': '',
    'defender_1': 'Lannister',
}, name='Battle of the Camps')

In [207]:
got = pd.concat([got, new_data.to_frame().T], ignore_index=False)

In [209]:
got

,Year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1
Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Baratheon
Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle of the Green Fork,298,4,Rob Stark,Joffrey/Tommen Baratheon,Stark,,,,Lannister
Battle of the Whispering Wood,298,5,Rob Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
Battle of the Camps,298,6,NaN,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister

In [174]:
got_filled = got.fillna('Unknown')

In [176]:
got

,Year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1
0,298,1,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
1,298,2,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Baratheon
2,298,3,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
3,298,4,Rob Stark,Joffrey/Tommen Baratheon,Stark,,,,Lannister
4,298,5,Rob Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
5,298,6,NaN,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister

In [235]:
got.loc["Battle of the Camps", 'attacker_king'] = "Robb Stark"

<h1>Delete</h1>

In [225]:
got

,Year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1
Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Baratheon
Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle of the Green Fork,298,4,Rob Stark,Joffrey/Tommen Baratheon,Stark,,,,Lannister
Battle of the Whispering Wood,298,5,Rob Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
Battle of the Camps,298,6,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
5,NaN,NaN,Robb Stark,NaN,NaN,NaN,NaN,NaN,NaN

In [231]:
got.loc[5, 'attacker_king'] = np.nan

In [233]:
got

,Year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1
Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Baratheon
Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle of the Green Fork,298,4,Rob Stark,Joffrey/Tommen Baratheon,Stark,,,,Lannister
Battle of the Whispering Wood,298,5,Rob Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
Battle of the Camps,298,6,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
got = got.rename(index={5: 'ERROR'})

In [243]:
got

,Year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1
Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Baratheon
Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle of the Green Fork,298,4,Rob Stark,Joffrey/Tommen Baratheon,Stark,,,,Lannister
Battle of the Whispering Wood,298,5,Rob Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
Battle of the Camps,298,6,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
ERROR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [245]:
got.drop("ERROR", inplace=True)

In [247]:
got

,Year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1
Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Baratheon
Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Rob Stark,Lannister,,,,Tully
Battle of the Green Fork,298,4,Rob Stark,Joffrey/Tommen Baratheon,Stark,,,,Lannister
Battle of the Whispering Wood,298,5,Rob Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister
Battle of the Camps,298,6,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,,,Lannister